* {
  font-family: Helvetica;
  color: #ff7801;
}

body {
  font-size: 20pt;
  margin: 10px;
  height: 100vh;
  background-image: url("https://i.imgur.com/NsyG18r.png");
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
}

body > nav {
  /* justify-content: center; */
  align-items: center;
}


header {
  padding: 20px; /* Add padding to create some space */
  text-align: center; /* Center align the content */
}

.logo {
  /* Add any styles to the logo container here */
}

.logo img {
  max-width: 100%; /* Ensure the logo doesn't exceed its container width */
  height: fixed; /* Maintain aspect ratio */
}